<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
     <header>
        <nav>
             <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/add-product">Add Products</a></li>
                <li><a href="/contact_us">Contact us</a></li>
             </ul>
        </nav>
     </header>
     <form action="/success" method="POST">
        <label>enter the name</label>
        <input type="text" name="title">
        <br><br>
        <label>enter the email</label>
        <input type="text" name="title">
        <br><br>
        <button type="submit">submit</button>

     </form>
</body>
</html>